.registrationPage,
.loginPage {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  color: var(--textColor, black);
  /* background-color: hsla(229, 25%, 92%, 0.9); */
  /* background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); */
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

.registrationPage .form,
.loginPage .form {
  min-width: 320px;
  max-width: 460px;
  width: 80vw;
  border-radius: 8px;
  padding: 1.8rem 3rem;
  background-color: white;
  box-shadow: 0px 0px 64px hsl(229, 7%, 75%);
  /* box-shadow: 0px 0px 64px hsl(229, 7%, 10%); */
  /* border: solid 1px hsl(229, 7%, 75%); */
  margin-bottom: 12vh;
}

.registrationPage .form .title,
.loginPage .form .title {
  line-height: 1;
  margin: 0;
  padding: 0;
}

.registrationPage .form .subTitle,
.loginPage .form .subTitle {
  line-height: 1.4;
  font-size: 12pt;
  margin: 6px 0;
  font-weight: 400;
}

.registrationPage .form .fieldSet,
.loginPage .form .fieldSet {
  border: 0;
  margin: 1rem 0;
  padding: 0;
}

.registrationPage .form .fieldLabel,
.loginPage .form .fieldLabel {
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: block;
}

.registrationPage .form .fieldLabel .hint,
.loginPage .form .fieldLabel .hint {
  font-weight: normal;
  font-size: small;
  padding-left: 1rem;
}

.registrationPage .textBox,
.loginPage .textBox {
  width: 100%;
  border-radius: 4px;
}
.registrationPage .textArea,
.loginPage .textArea {
  width: 100%;
  border-radius: 4px;
}

.registrationPage .form .fieldLabel::after,
.loginPage .form .fieldLabel::after {
  content: "";
}

.registrationPage .form .submitButton,
.loginPage .form .submitButton {
  background-color: hsl(208, 60%, 56%);
  border-radius: 4px;
  box-shadow: -2px 2px 4px hsl(229, 7%, 75%);
  color: hsl(234, 54%, 97%);
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  line-height: 2;
  width: 100%;
}

.registrationPage .form .submitButton:active,
.loginPage .form .submitButton:active {
  box-shadow: 0px 0px 0px hsl(229, 7%, 75%);
  margin-left: -2px;
}
